@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Manrope:wght@200..800&display=swap");

/*============== PÁGINA INICIAL ==============*/
.container {
  min-height: 80vh;
  background-color: #1a1a1a;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 900px;
  height: 500px;
  background-color: #836c6c;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}

.img {
  width: 300px;
  height: 450px;
  display: flex;
  margin: 25px;
  padding: 15px;
}

.topico {
  margin: 25px;
  padding: 15px;
}

.topico h1 {
  display: flex;
  font-family: "Abril Fatface", serif;
  font-size: 36px;
  align-content: center;
  margin-bottom: 15px;
}

.sinopse {
  font-family: "Crimson Text", serif;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 15px;
}

.autor,
.data,
.paginas {
  font-family: "Crimson Text", serif;
  margin-bottom: 15px;
}

/*============== AUTOR ==============*/
.box2 {
  width: 950px;
  height: 600px;
  background-color: #836c6c;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}

.biografia {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  width: 100%;
}

.imagem {
  display: flex;
  align-self: center;
  width: 350px;
  height: 450px;
  display: flex;
  margin: 25px;
  padding: 15px;
}

.biografia h1 {
  display: flex;
  font-family: "Abril Fatface", serif;
  font-size: 36px;
  align-content: center;
  margin-bottom: 15px;
}

.whois {
  font-family: "Crimson Text", serif;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 15px;
}

.biblio {
  font-family: "Crimson Text", serif;
  width: 500px;
  text-align: left;
  align-self: flex-start; 
}

.biblio ul {
  display: block;
  list-style-type: circle;
  margin-left: 0;
  text-align: left;
  width: 100%;
}

.biblio li {
  display: block;
  margin-bottom: 8px;
  line-height: 1.4;
  text-align: left;
}

/*============== CURIOSIDADES ==============*/
